body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.overlay {
    background-image: url('images/backdrop2.webp'); /* Background image */
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

.content {
    position: relative;
    color: white;
    z-index: 2;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

.buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.buttons .btn:hover {
    background-color: #1b6e24;
}